body.project {
	display: flex;
	height: 100vh;
	flex-direction: column;
}

.frame {
	top: 0;
	padding: 1rem 1.5rem;
	position: fixed;
	z-index: 1000;
	background: #f0f0f0;
	width: 100%;
	display: flex;
	text-transform: uppercase;
}

.frame__title {
	font-size: 1rem;
	margin: 0;
	font-weight: 400;
}

.frame__links {
	margin: 0.5rem 0;
}

.frame__links a {
	border-bottom: 1px solid currentColor;
	transition: 0.2s border-color;
}

.frame__links a:hover, .frame__links a:focus {
	border-color: transparent;
}

.frame__links a:not(:last-child) {
	margin-right: 1rem;
}

.frame__button {
	word-spacing: 0.75rem;
	color: var(--color-link);
	margin-left: auto;
}

.menu {
	padding: 11rem 0 20px 0;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: right;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	counter-reset: menucounter;
}

.menu__item {
	flex: none;
	display: flex;
	justify-content: flex-start;
	position: relative;
}

.menu__item.animate__delay1 {
	animation-duration: 900ms;
}

.menu__item.animate__delay2 {
	animation-duration: 1200ms;
}

.menu__item.animate__delay3 {
	animation-duration: 1400ms;
}

.menu__item.animate__delay4 {
	animation-duration: 1600ms;
}

.menu__item::before {
	counter-increment: menucounter;
	content: counters(menucounter, ".", decimal-leading-zero);
	position: absolute;
	left: 0;
	top: 20%;
	height: 60%;
	padding-left: 1rem;
	display: flex;
	align-items: center;
	line-height: 1;
	font-weight: bold;
	opacity: 0;
	transform: translateX(-1rem);
	transition: transform 0.3s, opacity 0.3s;
}

.menu__item:hover::before {
	opacity: 1;
	transform: translateX(0);
}

.menu__item-text {
	position: relative;
	cursor: pointer;
	padding: 0.5rem;
	display: block;
	font-size: 6vw;
	font-family: sans-serif;
	margin-left: 5rem;
	transition: color .35s, -webkit-text-stroke-color .35s, -webkit-text-stroke-width .35s;
}

.js .menu__item-textinner {
	transform: translateY(100%);
}

.menu__item:hover .menu__item-text {
	color: transparent;
	-webkit-text-stroke: 1px #000;
}

.menu__item-sub {
	display: none;
	white-space: nowrap;
	align-items: center;
	position: relative;
	margin-left: auto;
	padding-left: 3rem;
	opacity: 0;
	transform: translateX(-1rem);
	transition: transform 0.3s, opacity 0.3s;
	min-width: 460px;
}
.menu__item-sub span{
	margin: 0 40px;
}
.menu__item:hover .menu__item-sub {
	opacity: 1;
	transform: translateX(0);
}

.hover-reveal {
	position: absolute;
	z-index: -1;
	width: 300px;
	height: 300px;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 0;
}

.hover-reveal__inner {
	overflow: hidden;
}

.hover-reveal__inner, .hover-reveal__img {
	width: 100%;
	height: 100%;
	position: relative;
}

.hover-reveal__img {
	background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.credits {
	align-self: flex-start;
	padding: 5rem 0 0 0;
}

.credits a {
	text-decoration: underline;
}

.cursor {
	position: fixed;
	transform: translateX(-150px) translateY(-50%);
	pointer-events: none;
	left: -100px;
	top: 50%;
	z-index: -1;
	height: 50px;
	width: 50px;
	transition: all 200ms ease-out;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0;
}

.cursor.hover {
	height: 300px;
	width: 300px;
	z-index: -1;
	opacity: 1;
}

.cursor.hide-cursor {
	opacity: 0;
}

.hover-img {
	position: relative;
	display: inline-block;
}

.hover-img:before {
	position: absolute;
	content: '';
	width: 0;
	bottom: 0;
	left: -10px;
	width: calc(100% + 20px);
	border-radius: 2px;
	display: block;
	background-color: #BFE2FF;
	transition: width 250ms ease;
	mix-blend-mode: multiply;
	opacity: 0.6;
}

.hover-img:hover {
	z-index: 5;
	color: #000;
}

.hover-img:hover:before {
	width: 100%;
}

@media screen and (min-width: 53em) {
	.frame {
		flex-direction: column;
		align-items: flex-end;
		text-align: right;
		background: none;
		height: 50vh;
		pointer-events: none;
		padding-bottom: 0;
	}
	.frame__links a:not(:last-child) {
		margin-right: 0;
	}
	.frame__links {
		margin: 0.5rem 0 2rem;
		justify-self: start;
	}
	.frame__links a {
		margin-left: 0.5rem;
		pointer-events: auto;
	}
	.frame__button {
		cursor: not-allowed;
		pointer-events: auto;
		margin-top: auto;
		transform: translateY(50%);
	}
	.menu__item {
		justify-content: flex-start;
	}
	.menu__item-text {
		padding: 1vh 0;
		font-size: 120px;
		margin: auto;
	}
	.menu__item-sub {
		display: flex;
		justify-content: flex-end;
	}
}

@media (max-width: 1400px) {
	body .menu__item-text {
		font-size: 5vh;
	}
}

@media only screen and (max-width: 767px) {
	body .menu {
		padding: 6rem 0 20px 0;
	}
	body .menu__item-text {
		font-size: 4vh;
		font-weight: 700;
	}
	body .menu__item:hover::before {
		transform: translateX(-1rem)
	}
	body .menu__item::before {
		opacity: 1;
		padding-left: 2rem;
	}
	.cursor {
		display: none !important;
	}
	.menu__item::after {
		content: "/";
		position: absolute;
		left: 60px;
		top: 20%;
		height: 60%;
		padding-left: 1rem;
		display: flex;
		align-items: center;
		line-height: 1;
		font-weight: bold;
		opacity: 1;
		transform: translateX(-1rem);
		transition: transform 0.3s, opacity 0.3s;
	}
}

@media (any-pointer: fine) {
	.cursor {
		position: fixed;
		top: 0px;
		left: 0px;
		display: block;
		pointer-events: none;
	}
	.cursor__inner {
		opacity: 0.3;
	}
	.credits {
		padding-left: 25vw;
	}
}